/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

 // IDEA: Have 2 keymaps (1 as close to QWERTY satndard as possible, 1 more opinionated) 

// Imports
// ---------------------------------------------------------------------------

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

// Macros
// ---------------------------------------------------------------------------

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <50>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0>; \
  };

/ {

// Behaviors
// ---------------------------------------------------------------------------

    behaviors {
        mkt: mouse_key_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;   
            bindings = <&mo>, <&mkp>;
        }; 

        tdslto: tap_dance_sticky_layer_to_layer {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sl>, <&to>;
        };
    };

// Combos
// ---------------------------------------------------------------------------
    combos {
        compatible = "zmk,combos";

        COMBO(esc, &kp ESC, 0 1);
    }

// Keymap
// ---------------------------------------------------------------------------

    keymap { compatible = "zmk,keymap";

// : DEFAULT Layer (0)
// -----------------------------------------------------------------
// |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | 
// |  A  |  S  |  D  |  F  |  G  |   | ;(:)|  H  |  J  |  K  |  L  | 
// |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  | ,(<)| .(>)| /(?)| 
//                   | ESC | BSP |   | SPC | RET |                  
//                   | TAB |               | MB1 |  
////    ESC | TAB | SPC                         RET |     | BSP      // | Chord 
// home row mods: &mt LGUI A &mt LALT S &mt LCTRL D &mt LSHFT F &kp G         &kp SEMI  &mt RSHFT H  &mt RCTRL J &mt RALT K &mt RGUI L
// IDEA: could use mod-morph to give thumb clusters 2nd &kp behaviour?
// ? &lt not on spc as you hold it ?

        default_layer{ bindings = <

   &kp Q &kp W &kp E &kp R       &kp T        &kp Y       &kp U    &kp I     &kp O   &kp P    
   &kp A &kp S &kp D &kp F       &kp G        &kp SEMI    &kp H    &kp J     &kp K   &kp L
   &kp Z &kp X &kp C &kp V       &kp B        &kp N       &kp M    &kp COMMA &kp DOT &kp FSLH 
                     &tdslto 1 1 &mkp MB1     &kp SPACE   &tdslto 2 2
                     &tdslto 3 3                          &tdslto 4 4

        >; };       
                    // old thumb cluster
                    //  &lt 2 ESC &lt 1 BSPC   &kp SPACE   &kp RET
                    //  &lt 3 TAB                          &mkp MB1


// : NAV Layer (x)?
// -----------------------------------------------------------------

        nav_layer{ bindings = <

   &none    &none    &none     &none    &none     &none    &none    &none    &none    &none  
   &sk LGUI &sk LALT &sk LCTRL &sk LGUI &none     &none    &kp LEFT &kp DOWN &kp UP   &kp RIGHT
   &none    &none    &none     &none    &none     &none    &none    &none    &none    &none  
                               &trans   &trans    &trans   &trans   
                               &trans                      &trans
        >; };


// : NUM Layer (1)
// -----------------------------------------------------------------
// |  !  |  "  |  £  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |
// |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |
// | `(¬)| '(@)| -(_)| +(=)| #(~)|   | \(|)|  {  |  [  |  ]  |  }  |

        num_layer{ bindings = <

   &kp EXCL  &kp DQT  &kp HASH  &kp DLLR &kp PRCNT &kp CARET &kp AMPS &kp ASTRK &kp LPAR &kp RPAR
   &kp N1    &kp N2   &kp N3    &kp N4   &kp N5    &kp N6    &kp N7   &kp N8    &kp N9   &kp N0 
   &kp GRAVE &kp APOS &kp MINUS &kp PLUS &kp NUHS  &kp BSLH  &kp LBRC &kp LBKT  &kp RBKT &kp LBRC
                                &trans   &trans    &trans    &trans    
                                &trans                       &trans 

        >; };

// : FN Layer (2)
// -----------------------------------------------------------------
// |  F1 |  F2 |  F3 |  F4 |  F5 |   | F6  |  F7 |  F8 |  F9 | F10 |
// | F11 | F12 |  PP | PRV | NXT |   | SST | LFT | DWN |  UP | RGT |
// |  VD |  VU |  BD |  BU | MTE |   | MB5 | MB1 | MB3 | MB2 | MB4 |

        fn_layer{ bindings = <

   &kp F1       &kp F2       &kp F3       &kp F4       &kp F5       &kp F6    &kp F7   &kp F8   &kp F9   &kp F10
   &kp F11      &kp F12      &kp C_PP     &kp C_PREV   &kp C_NEXT   &kp PSCRN &kp LEFT &kp DOWN &kp UP   &kp RIGHT
   &kp C_BRI_DN &kp C_BRI_UP &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE   &mkp MB5  &mkp MB1 &mkp MB3 &mkp MB2 &mkp MB4
                                          &trans       &trans       &trans    &trans   
                                          &trans                              &trans
        >; };

// : SETTINGS Layer
// -----------------------------------------------------------------
// | RST | BCL |     |     |     |   |     |     |     |     |     |
// |  B1 |  B2 |  B3 |  B4 |     |   |     |     |     |     |     |
// |     |     |     |     |     |   |     |     |     |     |     |
//             |     |     |     |   |     |     |     |
// WHERE: RST=reset, BCL=bluetooth-clear

        settings_layer{ bindings = <

   &sys_reset &bootloader    &none    &none    &none     &none    &kp HOME &kp END  &kp INS  &kp DEL  
   &bt BT_CLR &bt BT_CLR_ALL &none    &none    &none     &none    &none    &none    &none    &none  
   &none      &none          &none    &none    &none     &none    &none    &none    &none    &none  
                                      &trans   &trans    &trans   &trans   
                                      &trans                      &trans

        >; };
    };
};

// Unused Layers
// ---------------------------------------------------------------------------

// : NUM Layer (1) - Keypad
// |     |     |     |     |     |   |  +  |  7  |  8  |  9  |  *  |
// |     |     |     |     |     |   |  =  |  4  |  5  |  6  |  0  |
// |     |     |     |     |     |   |  -  |  1  |  2  |  3  |  /  |
// missing: . % ^ _ ,
// note: qute like it. simple no?

// : NUM & NAV Layer (1) - 2 rows
// -----------------------------------------------------------------
// |  1  |  2  |  3  |  4  |  5  |   |  %  | HOME| END | INS | DEL |
// |  6  |  7  |  8  |  9  |  0  |   |  =  | LFT | DWN |  UP | RGT |
// |     |     |     |     |     |   |  *  |  +  |  -  |  .  |  /  |
// extra?: ^ _

// : SYMBOL Layer (2) - A
// ------------------------------------------------------------------
// |  !  |  @  |  £  |  $  |  ^  |   |     |  &  |  `  |  '  |  "  |
// |  <  |  (  |  )  |  >  |  ?  |   |    |     |     |     |  \  |
// |  {  |  [  |  ]  |  }  |  #  |   |  _  |     |  ~  |  |  |  /  |
// remaning:  * - + : =

// Layer Template
// ---------------------------------------------------------------------------

// : NAME Layer
// // -----------------------------------------------------------------
// // |     |     |     |     |     |   |     |     |     |     |     |
// // |     |     |     |     |     |   |     |     |     |     |     |
// // |     |     |     |     |     |   |     |     |     |     |     |
// //             |     |     |     |   |     |     |     |
        // layer_name_layer{ bindings = <

//    &none    &none    &none    &none    &none     &none    &none    &none    &none    &none  
//    &none    &none    &none    &none    &none     &none    &none    &none    &none    &none  
//    &none    &none    &none    &none    &none     &none    &none    &none    &none    &none  
//                               &trans   &trans    &trans   &trans   
//                               &trans                      &trans
        // >; };


// Keymap Reference
// ---------------------------------------------------------------------------


// : DEFAULT Layer (0)
// -----------------------------------------------------------------
// |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | 
// |  A  |  S  |  D  |  F  |  G  |   |  ;  |  H  |  J  |  K  |  L  | 
//// GUI | ALT | CRL | SFT | HYP       HYP | SFT | CRL | ALT | GUI   // | Hold
////    ESC | TAB | SPC                         RET |     | BSP      // | Chord 
// |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  | 
//             | MB1 | BSP | SPC |   | RET |     | MB1 |             // 1 space? ESC, TAB, DEL? (if we could get 4...)
////             L3  | L0  | L4        L2  |  L1 |  L3               // | Hold 

// : SYMBOL Layer (1)
// ------------------------------------------------------------------
// |  !  |  @  |  £  |  $  |  %  |   |  ^  |  &  |  `  |  '  |  "  |
// |  <  |  (  |  )  |  >  |  ?  |   |  :  |  +  |  -  |  *  |  /  |
// |  {  |  [  |  ]  |  }  |  #  |   |  _  |  =  |  ~  |  |  |  \  |
//             | MB1 | BSP | SPC |   | RET |     | MB1 |             
////             L3  | L0  | L4        L2  |  L1 |  L3               // | Hold 

// : NUM Layer (2)
// -----------------------------------------------------------------
// |  1  |  2  |  3  |  4  |  5  |   |PSCRN| HOME| END | INS | DEL |
// |  6  |  7  |  8  |  9  |  0  |   |     | LFT | DWN |  UP | RGT |
// |     |  %  |  .  |  =  |     |   |     |  +  |  -  |  *  |  /  |
//             | MB1 | BSP | SPC |   | RET |     | MB1 |
////             L3  | L0  | L4        L2  |  L1 |  L3               // | Hold 

// : MOUSE Layer (3)
// -----------------------------------------------------------------
// |     |     |     |     |     |   |     |     |     |     |     |
// | MB4 | MB2 | MB3 | MB1 | MB5 |   | MB5 | MB1 | MB3 | MB2 | MB4 |
// |     |     |     |     |     |   |     |     |     |     |     |
//             | MB1 | BSP | SPC |   | RET |     | MB1 |             
////             L3  | L0  | L4        L2  |  L1 |  L3               // | Hold 

// : FUNCTION Layer (4)
// ------------------------------------------------------------------
// |  F6 |  F7 |  F8 |  F9 | F10 |   |     |     |     |     |     |
// |  F1 |  F2 |  F3 |  F4 |  F5 |   |     |     |     |     |     |
// |     |     | F11 | F12 |     |   |     |     |     |     |     |
//             | MB1 | BSP | SPC |   | RET |     | MB1 |             
////             L3  | L0  | L4        L2  |  L1 |  L3               // | Hold 
