# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_EMBODI_LEFT
    def_bool $(shields_list_contains,embodi_left)

config SHIELD_EMBODI_RIGHT
    def_bool $(shields_list_contains,embodi_right)