# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

# Both halves
if SHIELD_EMBODI_LEFT || SHIELD_EMBODI_RIGHT

config ZMK_SPLIT
    default y

if ZMK_DISPLAY

config I2C
    default y

# whats this?
config SSD1306
    default y

endif # ZMK_DISPLAY

endif # SHIELD_EMBODI_LEFT || SHIELD_EMBODI_RIGHT

# Left half specific
if SHIELD_EMBODI_RIGHT

config ZMK_KEYBOARD_NAME
    default "Embodi Keyboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_EMBODI_LEFT
